# Jenkins (runs on host VM)
JENKINS_HTTP_PORT=8080
JENKINS_PREFIX=
JENKINS_AGENT_NAME=laravel-Build-agent-1
JENKINS_SECRET=replace_with_node_secret

# Docker build
DOCKER_GID=996

# Redis (always-on in Docker)
REDIS_DATA_PATH=/srv/redis_data

# Misc
ANSIBLE_FILES_PATH=/root
TZ=Asia/Kolkata
